<h1> Admin </h1>




<h3>İşlemler</h3>
<ul>
    <li><a asp-area="Admin" asp-controller="Menu" asp-action="Index">Menu</a></li>
    <li><a asp-area="Admin" asp-controller="ExtraIngredient" asp-action="Index"> ExtraIngredient </a></li>
    <li><a asp-area="Admin" asp-controller="Order" asp-action="Index"> Orders </a></li>
</ul>