@model List<Menu>

<div class="row">
    @foreach (Menu menu in Model)
    {
        <div class="col-sm-4" style="margin-top: 20px">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="/HamburgerCoverImages/@menu.CoverImage" alt="Card image cap" style="height: 200px; width: 200px; display: block; margin-left: auto; margin-right: auto;margin-top:10px">
                <div class="card-body">
                    <h5 class="card-title">@menu.Name</h5>
                    <p class="card-text">@menu.Price TL</p>

                    <input type="number" id="myNumber" name="myNumber" min="1" max="100" step="1" value="1">

                    @*<div class="form-group">
                        <label for="MenuSize"></label>
                        <select class="form-control" name="menusize" id="menusize">
                            <option value="0">Small</option>
                            <option value="10">Medium</option>
                            <option value="20">Large</option>
                        </select>
                    </div>*@
                    <br />

                    <a class="btn btn-primary" onclick="addToCart('@menu.ID')">Sepete Ekle</a>

                </div>
            </div>
        </div>
    }
</div>
 