@model IEnumerable<MVCProjectHamburger.Models.Entities.Concrete.Order>


<div class="row justify-content-center">
    <div class="col-md-2 col-lg-3 sidebar-offcanvas justify-content-center">
        
        <br />
        <a class="btn btn-dark" onclick="GetMenuList()"> Menus </a>
        <br />
        <br />
        <a class="btn btn-success" onclick="GetExtraIngredientList()"> Extra Ingredients </a>
        

    </div>
    <div class="col-md-10 col-lg-9">
    <div id="list"></div>
    <div id="shoppingCart"></div>
    </div>
</div>
