@*<html>
<head>
    <style>
        h1 {
            color: red;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th {
            background-color: red;
            color: white;
            text-align: left;
            padding: 8px;
        }

        td {
            background-color: yellow;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h1>Add Your Order</h1>

    <table>
        <tr>
            <th>Order</th>
        </tr>
        <tr>
            <td><a asp-area="User" asp-controller="Order" asp-action="Index">Order</a></td>
        </tr>
    </table>
</body>
</html>*@

<table class="table">
    <thead>
        <tr>
            <th> Order </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a asp-area="User" asp-controller="Order" asp-action="Index">Order</a></td>
        </tr>
    </tbody>
</table>